<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lung Cancer Mortality Datasets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #98ff98; /* Mint green background color */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Lung Cancer Mortality Datasets</h1>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('upload_file') }}">Upload CSV</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
